/* .main{
  margin: auto;
  border: 1px solid black;
  
} */
form{
  width: 30%;
  height: 40%;
  border-radius: 30px;
  margin: auto;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 7rem;
}
input{
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  background-color: black !important;
  font-size: large;
  /* padding: 5px; */
  
}
/* input:focus {
  background-color: black;
} */

.inputMain{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: black;
  
}
.error{
  color: red;
  margin-left: 4rem;
}
.done{
  color: blue;
  margin-left: 6rem;
}
h1{
  text-align: center;
}
button{
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin-top: 15px;
  background-color: gray;
  color: black;
  font-size: medium;
  font-size: x-large;
}
body{
  background-color: gray;
  font-size: large;
  font-family: cursive;
}
button:hover{
  background-color:black;
  color: white;
  border: 1px solid white;
  font-size: x-large;
  
}